/* Styling for the destination page */

/*mobile styles*/ 
@media only screen and (max-width: 600px) {

    .destination-description .full-description {
          display: none;
        }
        .destination-description .mobile-description {
          display: block;
        }
    

    main h1 {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center; 
    }

    .destinations {
        display: block;
        margin: 20px;
    }

    .destination-container {
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .destination-info {
        padding: 0.5cm;
    }

    .destination-info img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .destination-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .destination-description {
        margin-bottom: 20px;
        text-align: justify; 
    }

    body {
        background-image: url("../media/images/banff.jpg");
        background-size: cover;
    }
}
/* Estilos tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    main h1 {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
    }

    .destinations {
        display: block;
        margin: 20px auto;
        max-width: 800px;
        padding: 0 20px;
    }

    .destination-container {
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        max-width: calc(100% - 40px);
        box-sizing: border-box;
    }

    .destination-info {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .destination-info img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .destination-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .destination-description {
        text-align: justify;
    }

    body {
        background-image: url("../media/images/banff.jpg");
        background-size: cover;
        padding: 0 20px;
    }
}


/* Estilos dektop */
@media only screen and (min-width: 1025px) {
    
    .destination-description .mobile-description {
        display: none;
      }
      .destination-description .full-description {
        display: block;
      }

    main h1 {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        font-size: 40px;
        text-align: center;
    }
    

    .destinations {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .destination-container {
        flex-basis: 30%;
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .destination-info {
        padding: 0.5cm;
    }

    .destination-info img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .destination-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .destination-description {
        margin-bottom: 20px;
        text-align: justify;
    }

    body {
        background-image: url("../media/images/banff.jpg");
        background-size: cover;
    }
}
/*js features*/
/* Modal styles */
.modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.modal-content {
    background-color: white !important;
    padding: 20px !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

.close {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    font-size: 20px !important;
    cursor: pointer !important;
}

/* CSS for dark mode */
.dark-mode .destination-container {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
}






    






/* Contact us page */

/* CSS for Contact Info */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-sizing: border-box;
}

.contact-info h2 {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.contact-details,
.map {
    flex-basis: 48%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-details p {
    margin-bottom: 10px;
}

.contact-details a {
    color: #007bff;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.map {
    overflow: hidden;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

/* CSS for Contact Form */
.contact-form {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    box-sizing: border-box;
}

.contact-form h2 {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .contact-info {
        flex-direction: column;
        padding: 10px;
    }

    .contact-details, .map {
        flex-basis: 100%;
    }

    .contact-form {
        padding: 10px;
    }

    .contact-form h2 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .contact-form, .contact-info {
        padding: 20px;
    }

    .contact-form h2, .contact-info h2 {
        font-size: 26px;
    }
}

@media only screen and (min-width: 1025px) {
    .contact-form, .contact-info {
        padding: 20px;
    }

    .contact-form h2, .contact-info h2 {
        font-size: 28px;
    }
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .contact-info,
.dark-mode .contact-form {
    background-color: #444;
    color: #fff;
}

.dark-mode .contact-details,
.dark-mode .map {
    background-color: #333;
}

.dark-mode .contact-details p {
    color: #fff;
}

.dark-mode .contact-details a {
    color: #08f;
}

.dark-mode .contact-details a:hover {
    text-decoration: underline;
}

.dark-mode .contact-form button[type="submit"] {
    background-color: #08f;
}
/* Light Mode Background Image */
.light-mode-background {
    background-image: url("../media/images/banff.jpg");
}

/* Dark Mode Background Image */
.dark-mode-background {
    background-image: url("../media/images/toronto.jpg");
}
